@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  button {
    @apply bg-zinc-700 hover:bg-zinc-900 text-white font-bold p-10 rounded-full text-2xl transition-all duration-100;
  }

  button.on {
    padding: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 102, 0.25), 
             0 0 25px rgba(255, 255, 102, 0.25), 
             0 0 25px rgba(255, 255, 102, 0.25), 
             0 0 100px #ffffff0a,
             0 0 150px #ffffff0a,
             0 0 300px #ffffff0a;
    background: rgba(255, 255, 102,0.25);
    border-radius: 100%;

  }
}
